<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>3777878</integer>
		<key>title</key>
		<string>Room</string>
		<key>description</key>
		<string>&lt;p&gt;Illustration for a personal project.&lt;/p&gt;</string>
		<key>width</key>
		<integer>400</integer>
		<key>height</key>
		<integer>300</integer>
		<key>images</key>
		<dict>
			<key>hidpi</key>
			<string>https://cdn.dribbble.com/users/1109732/screenshots/3777878/dribbble_cat_room16-01.jpg</string>
			<key>normal</key>
			<string>https://cdn.dribbble.com/users/1109732/screenshots/3777878/dribbble_cat_room16-01_1x.jpg</string>
			<key>teaser</key>
			<string>https://cdn.dribbble.com/users/1109732/screenshots/3777878/dribbble_cat_room16-01_teaser.jpg</string>
		</dict>
		<key>views_count</key>
		<integer>2</integer>
		<key>likes_count</key>
		<integer>0</integer>
		<key>comments_count</key>
		<integer>0</integer>
		<key>attachments_count</key>
		<integer>0</integer>
		<key>rebounds_count</key>
		<integer>0</integer>
		<key>buckets_count</key>
		<integer>0</integer>
		<key>created_at</key>
		<string>2017-09-01T15:05:35Z</string>
		<key>updated_at</key>
		<string>2017-09-01T15:06:37Z</string>
		<key>html_url</key>
		<string>https://dribbble.com/shots/3777878-Room</string>
		<key>attachments_url</key>
		<string>https://api.dribbble.com/v1/shots/3777878/attachments</string>
		<key>buckets_url</key>
		<string>https://api.dribbble.com/v1/shots/3777878/buckets</string>
		<key>comments_url</key>
		<string>https://api.dribbble.com/v1/shots/3777878/comments</string>
		<key>likes_url</key>
		<string>https://api.dribbble.com/v1/shots/3777878/likes</string>
		<key>projects_url</key>
		<string>https://api.dribbble.com/v1/shots/3777878/projects</string>
		<key>rebounds_url</key>
		<string>https://api.dribbble.com/v1/shots/3777878/rebounds</string>
		<key>animated</key>
		<false/>
		<key>tags</key>
		<array>
			<string>bed</string>
			<string>cat</string>
			<string>city</string>
			<string>girl</string>
			<string>manekineko</string>
			<string>phone</string>
			<string>plant</string>
			<string>room</string>
			<string>rug</string>
			<string>skateboard</string>
			<string>sunset</string>
		</array>
		<key>user</key>
		<dict>
			<key>id</key>
			<integer>1109732</integer>
			<key>name</key>
			<string>Greta Mihaly</string>
			<key>username</key>
			<string>migreti</string>
			<key>html_url</key>
			<string>https://dribbble.com/migreti</string>
			<key>avatar_url</key>
			<string>https://cdn.dribbble.com/users/1109732/avatars/normal/c9efed45171bd9e5bdc931aabeaeed23.jpg?1498770155</string>
			<key>bio</key>
			<string>Freelance graphic designer &amp;amp; illustrator / frontend developer</string>
			<key>location</key>
			<string>Hungary</string>
			<key>links</key>
			<dict>
				<key>web</key>
				<string>http://migreti.github.io/migreti</string>
			</dict>
			<key>buckets_count</key>
			<integer>0</integer>
			<key>comments_received_count</key>
			<integer>23</integer>
			<key>followers_count</key>
			<integer>43</integer>
			<key>followings_count</key>
			<integer>299</integer>
			<key>likes_count</key>
			<integer>1104</integer>
			<key>likes_received_count</key>
			<integer>386</integer>
			<key>projects_count</key>
			<integer>0</integer>
			<key>rebounds_received_count</key>
			<integer>0</integer>
			<key>shots_count</key>
			<integer>24</integer>
			<key>teams_count</key>
			<integer>0</integer>
			<key>can_upload_shot</key>
			<true/>
			<key>type</key>
			<string>Player</string>
			<key>pro</key>
			<false/>
			<key>buckets_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/buckets</string>
			<key>followers_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/followers</string>
			<key>following_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/following</string>
			<key>likes_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/likes</string>
			<key>projects_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/projects</string>
			<key>shots_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/shots</string>
			<key>teams_url</key>
			<string>https://api.dribbble.com/v1/users/1109732/teams</string>
			<key>created_at</key>
			<string>2016-03-11T15:38:01Z</string>
			<key>updated_at</key>
			<string>2017-09-01T15:06:37Z</string>
		</dict>
		<key>team</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3777874</integer>
		<key>title</key>
		<string>The Job Search</string>
		<key>description</key>
		<string>&lt;p&gt;Featured image illustration for this week&apos;s blog post where I talk about how much the job search sucks and how it needs change. &lt;/p&gt;

&lt;p&gt;Read the post on my blog &lt;a href=&quot;https://blog.cortes.us/the-job-search-needs-change&quot; rel=&quot;nofollow noreferrer&quot;&gt;here&lt;/a&gt; or read on Medium &lt;a href=&quot;https://medium.com/the-rate-of-change/the-job-search-needs-change-4daf12085978&quot; rel=&quot;nofollow noreferrer&quot;&gt;here&lt;/a&gt;. Enjoy!&lt;/p&gt;</string>
		<key>width</key>
		<integer>400</integer>
		<key>height</key>
		<integer>300</integer>
		<key>images</key>
		<dict>
			<key>hidpi</key>
			<string>https://cdn.dribbble.com/users/427540/screenshots/3777874/the-job-search.png</string>
			<key>normal</key>
			<string>https://cdn.dribbble.com/users/427540/screenshots/3777874/the-job-search_1x.png</string>
			<key>teaser</key>
			<string>https://cdn.dribbble.com/users/427540/screenshots/3777874/the-job-search_teaser.png</string>
		</dict>
		<key>views_count</key>
		<integer>5</integer>
		<key>likes_count</key>
		<integer>1</integer>
		<key>comments_count</key>
		<integer>0</integer>
		<key>attachments_count</key>
		<integer>0</integer>
		<key>rebounds_count</key>
		<integer>0</integer>
		<key>buckets_count</key>
		<integer>0</integer>
		<key>created_at</key>
		<string>2017-09-01T15:03:38Z</string>
		<key>updated_at</key>
		<string>2017-09-01T15:05:50Z</string>
		<key>html_url</key>
		<string>https://dribbble.com/shots/3777874-The-Job-Search</string>
		<key>attachments_url</key>
		<string>https://api.dribbble.com/v1/shots/3777874/attachments</string>
		<key>buckets_url</key>
		<string>https://api.dribbble.com/v1/shots/3777874/buckets</string>
		<key>comments_url</key>
		<string>https://api.dribbble.com/v1/shots/3777874/comments</string>
		<key>likes_url</key>
		<string>https://api.dribbble.com/v1/shots/3777874/likes</string>
		<key>projects_url</key>
		<string>https://api.dribbble.com/v1/shots/3777874/projects</string>
		<key>rebounds_url</key>
		<string>https://api.dribbble.com/v1/shots/3777874/rebounds</string>
		<key>animated</key>
		<false/>
		<key>tags</key>
		<array>
			<string>editorial</string>
			<string>icon</string>
			<string>illustration</string>
			<string>job</string>
			<string>laptop</string>
			<string>process</string>
			<string>search</string>
			<string>sucks</string>
			<string>vector</string>
		</array>
		<key>user</key>
		<dict>
			<key>id</key>
			<integer>427540</integer>
			<key>name</key>
			<string>Dennis Cortés</string>
			<key>username</key>
			<string>fromcortes</string>
			<key>html_url</key>
			<string>https://dribbble.com/fromcortes</string>
			<key>avatar_url</key>
			<string>https://cdn.dribbble.com/users/427540/avatars/normal/b833bb53523237e78a3ac4ed8cfdf617.jpg?1492969365</string>
			<key>bio</key>
			<string>Designer &amp;amp; Illustrator that codes.</string>
			<key>location</key>
			<string>Memphis</string>
			<key>links</key>
			<dict>
				<key>web</key>
				<string>http://cortes.us</string>
				<key>twitter</key>
				<string>https://twitter.com/fromcortes</string>
			</dict>
			<key>buckets_count</key>
			<integer>19</integer>
			<key>comments_received_count</key>
			<integer>627</integer>
			<key>followers_count</key>
			<integer>2074</integer>
			<key>followings_count</key>
			<integer>1027</integer>
			<key>likes_count</key>
			<integer>3135</integer>
			<key>likes_received_count</key>
			<integer>15730</integer>
			<key>projects_count</key>
			<integer>11</integer>
			<key>rebounds_received_count</key>
			<integer>45</integer>
			<key>shots_count</key>
			<integer>320</integer>
			<key>teams_count</key>
			<integer>0</integer>
			<key>can_upload_shot</key>
			<true/>
			<key>type</key>
			<string>Player</string>
			<key>pro</key>
			<true/>
			<key>buckets_url</key>
			<string>https://api.dribbble.com/v1/users/427540/buckets</string>
			<key>followers_url</key>
			<string>https://api.dribbble.com/v1/users/427540/followers</string>
			<key>following_url</key>
			<string>https://api.dribbble.com/v1/users/427540/following</string>
			<key>likes_url</key>
			<string>https://api.dribbble.com/v1/users/427540/likes</string>
			<key>projects_url</key>
			<string>https://api.dribbble.com/v1/users/427540/projects</string>
			<key>shots_url</key>
			<string>https://api.dribbble.com/v1/users/427540/shots</string>
			<key>teams_url</key>
			<string>https://api.dribbble.com/v1/users/427540/teams</string>
			<key>created_at</key>
			<string>2013-10-22T17:06:03Z</string>
			<key>updated_at</key>
			<string>2017-09-01T15:05:50Z</string>
		</dict>
		<key>team</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3777876</integer>
		<key>title</key>
		<string>Recipe landing</string>
		<key>description</key>
		<string>&lt;p&gt;
Follow me &lt;a href=&quot;https://www.behance.net/tamarashvili&quot; rel=&quot;nofollow noreferrer&quot;&gt;Behance&lt;/a&gt;   |  &lt;a href=&quot;https://www.instagram.com/gtamarashvili/&quot; rel=&quot;nofollow noreferrer&quot;&gt;Instagram&lt;/a&gt;  &lt;/p&gt;</string>
		<key>width</key>
		<integer>400</integer>
		<key>height</key>
		<integer>300</integer>
		<key>images</key>
		<dict>
			<key>hidpi</key>
			<string>https://cdn.dribbble.com/users/952958/screenshots/3777876/recipe.png</string>
			<key>normal</key>
			<string>https://cdn.dribbble.com/users/952958/screenshots/3777876/recipe_1x.png</string>
			<key>teaser</key>
			<string>https://cdn.dribbble.com/users/952958/screenshots/3777876/recipe_teaser.png</string>
		</dict>
		<key>views_count</key>
		<integer>13</integer>
		<key>likes_count</key>
		<integer>6</integer>
		<key>comments_count</key>
		<integer>0</integer>
		<key>attachments_count</key>
		<integer>1</integer>
		<key>rebounds_count</key>
		<integer>0</integer>
		<key>buckets_count</key>
		<integer>0</integer>
		<key>created_at</key>
		<string>2017-09-01T15:05:04Z</string>
		<key>updated_at</key>
		<string>2017-09-01T15:05:21Z</string>
		<key>html_url</key>
		<string>https://dribbble.com/shots/3777876-Recipe-landing</string>
		<key>attachments_url</key>
		<string>https://api.dribbble.com/v1/shots/3777876/attachments</string>
		<key>buckets_url</key>
		<string>https://api.dribbble.com/v1/shots/3777876/buckets</string>
		<key>comments_url</key>
		<string>https://api.dribbble.com/v1/shots/3777876/comments</string>
		<key>likes_url</key>
		<string>https://api.dribbble.com/v1/shots/3777876/likes</string>
		<key>projects_url</key>
		<string>https://api.dribbble.com/v1/shots/3777876/projects</string>
		<key>rebounds_url</key>
		<string>https://api.dribbble.com/v1/shots/3777876/rebounds</string>
		<key>animated</key>
		<false/>
		<key>tags</key>
		<array>
			<string>clean</string>
			<string>color</string>
			<string>colors</string>
			<string>coockies</string>
			<string>landing</string>
			<string>recipe</string>
			<string>ui</string>
			<string>uidesign</string>
		</array>
		<key>user</key>
		<dict>
			<key>id</key>
			<integer>952958</integer>
			<key>name</key>
			<string>Giga Tamarashvili</string>
			<key>username</key>
			<string>Tamarashvili</string>
			<key>html_url</key>
			<string>https://dribbble.com/Tamarashvili</string>
			<key>avatar_url</key>
			<string>https://cdn.dribbble.com/users/952958/avatars/normal/0101aa0aecfb782643de2075265cf6ac.png?1484162300</string>
			<key>bio</key>
			<string>UI/UX Designer
giga.tamarashvili@gmail.com</string>
			<key>location</key>
			<string>Tbilisi, Georgia</string>
			<key>links</key>
			<array/>
			<key>buckets_count</key>
			<integer>7</integer>
			<key>comments_received_count</key>
			<integer>905</integer>
			<key>followers_count</key>
			<integer>5039</integer>
			<key>followings_count</key>
			<integer>213</integer>
			<key>likes_count</key>
			<integer>5424</integer>
			<key>likes_received_count</key>
			<integer>22964</integer>
			<key>projects_count</key>
			<integer>0</integer>
			<key>rebounds_received_count</key>
			<integer>31</integer>
			<key>shots_count</key>
			<integer>64</integer>
			<key>teams_count</key>
			<integer>0</integer>
			<key>can_upload_shot</key>
			<true/>
			<key>type</key>
			<string>Player</string>
			<key>pro</key>
			<true/>
			<key>buckets_url</key>
			<string>https://api.dribbble.com/v1/users/952958/buckets</string>
			<key>followers_url</key>
			<string>https://api.dribbble.com/v1/users/952958/followers</string>
			<key>following_url</key>
			<string>https://api.dribbble.com/v1/users/952958/following</string>
			<key>likes_url</key>
			<string>https://api.dribbble.com/v1/users/952958/likes</string>
			<key>projects_url</key>
			<string>https://api.dribbble.com/v1/users/952958/projects</string>
			<key>shots_url</key>
			<string>https://api.dribbble.com/v1/users/952958/shots</string>
			<key>teams_url</key>
			<string>https://api.dribbble.com/v1/users/952958/teams</string>
			<key>created_at</key>
			<string>2015-09-20T12:26:02Z</string>
			<key>updated_at</key>
			<string>2017-09-01T15:05:21Z</string>
		</dict>
		<key>team</key>
		<string></string>
	</dict>
</array>
</plist>
